* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: wheat;
    width: 100vw;

}
.contaner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 70px;
}
.nav ul {
    display: flex;
    align-items: center;
    gap: 50%;
    list-style: none;
}
.nav .nav-a {
    color: black;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    transition: 0.4s;
}
.nav-a:hover {
    color: blueviolet;
    transform: scale(0.5s);
}
.btn-1 {
    width: 90px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
}
.btn-1:hover {
    background: green;
}
/*cabecalho*/

.tex {
    position: absolute;
    top: 230px;
    left: 10%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: 30px;
}
.espe-center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-top: 60px;
}
.especia {
    display: flex;
    align-items: center;
    gap: 90px;
}
.esp1 {
    padding-left: 30px;
    width: 220px;
    height: 220px;
    border: 3px solid rgb(90, 90, 90);
    padding-top: 20px;
}
.esp1 i{
    color: rgb(0, 255, 0);
    font-size: 80px;
    padding-left: 30px;
}

/*meus trabalhos*/
.img-tx-tra {
    display: flex;
    padding-top: 100px;
    padding-left: 70px;
}
.texo-traba {
    padding-left: 450px;
}
.img-tra {
    width: 400px;
    display: flex;
    gap: 20px;
}
.img-tra {
    width: 400px;
}
/*formulario*/
.for-ins {
    position: absolute;
    top: 1700px;
}
.for-geral {
    padding-left: 400px;
    
}
.busca {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.im-tx {
    width: 220px;
    height: 30px;
}
.in-ms {
    width: 220px;
    height: 200px;
}
.email {
    padding-left: 22px;
}
.btn-for {
    padding-left: 170px;
    padding-top: 10px;
}
.btn-en {
    width: 80px;
    height: 30px;
    border-radius: 10px;
}
/*roda pe do site*/
.rodape {
    position: absolute;
    top: 2300px;

    background: black;
    width: 100%;
    height: 200px;

}
.nav-fundo {
    display: flex;
    padding-top: 40px;
    align-items: center;
    justify-content: center;
    gap: 230px;
}
.redeso {
}
.naveg {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}
.nav-a {
    text-decoration: none;
    color: white;
}
.end {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
.tx-h3 {
    color: white;
}
.tx-en {
    padding-left: 90px;
}
.icon {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.nav-icon {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}
.ic-ins:hover {
    color: rgb(83, 0, 161);
}
.ic-fc:hover {
    color: blue;
}
.ic-yt:hover {
    color: red;
}