* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 100%;
    width: 1440px;
}
/*geral*/
.contener {
    display: flex;
    width: 100%;
}
.nav-top {
    display: flex;
    align-items: center;
    margin: 30px 100px;
}
.nav-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 230px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    list-style: none;
}
.nav-a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.nav-a:hover {
    color: greenyellow;}
.btn-1 {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background: greenyellow;
    cursor: pointer;
}
/*imagem central*/
.bar-im {
    display: flex;
    align-items: center;
}
.img-nutri-cent {
    width: 1226px;
}
.tex {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 260px;
    left: 180px;
}
.nutri-cent-tex-h1 {
    font-size: 40px;
    color: chartreuse;
}
/*ptojetos*/
.espe-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.especia {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    gap: 60px;
}
.esp1 {
    border: 2px solid rgb(122, 122, 122);
    width: 300px;
    height: 190px;
    padding-top: 40px;
    padding-left: 30px;
}
.bi-dribbble {
    display: flex;
    padding-left: 60px;
    font-size: 30px;
    color: chartreuse;
}
.bi-activity {
    display: flex;
    padding-left: 90px;
    font-size: 30px;
    color: chartreuse;
}
.bi-briefcase-fill {
    display: flex;
    padding-left: 80px;
    font-size: 30px;
    color: chartreuse;
}
/*trabalho*/
.cent-tra1 {
    display: flex;
    padding-top: 200px;
    padding-left: 80px;
    gap: 50px;
    flex-direction: column;

}
.img-tx-tra {

}
.texo-traba {
    padding-left: 350px;
}
.img-ge {
    display: flex;
    align-items: center;
    gap: 60px;
}
.fto-aca {
    display: flex;
    gap: 40px;
}
.img-tra-1 {
    display: flex;
    width: 300px;
}
/*formulario*/
.for-ins {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.for-geral {
    border: 2px solid rgb(122, 122, 122);
}
.busca {
    padding-left: 70px;
    padding-top: 40px;
    padding-right: 70px;
    padding-bottom: 70px;
}
.im-tx {
    width: 300px;
    height: 30px;
    padding-left: 10px;
    gap: 10px;
}
.in-ms {
    width: 300px;
    height: 200px;
}

.nome-1 {
    display: flex;
    padding-left: 24px;
    padding-bottom: 10px;
    gap: 10px;
}
.email {
    display: flex;
    padding-left: 20px;
    padding-bottom: 10px;
    gap: 10px;
}
#mmsn {
    display: inline-block;
    align-items: center;
}
.btn-for {
    display: flex;
    padding-left: 400px;
    padding-bottom: 30px;
}
.btn-en {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}
/*roda pe*/
.rodape {
    display: flex;
    width: 100%;
    height: 200px;
    background: yellow;
}
.nav-fundo {
    margin: 40px 100px;
    display: flex;
    align-items: center;
    gap: 200px;
}
.nav-icon {
    display: flex;
    gap: 30px;
    list-style: none;
}
.ic-ins {
    color: rgb(107, 107, 107);
    font-size: 20px;
}
.ic-fc {
    color: rgb(107, 107, 107);
    font-size: 20px;
}
.ic-yt {
    color: rgb(107, 107, 107);
    font-size: 20px;
}
.ic-ins:hover {
    color: blueviolet;
}
.ic-fc:hover {
    color: blue;
}
.ic-yt:hover {
    color: red;
}
.redeso {
    display: flex;
    align-items: center;
    justify-content: center;
}
.naveg {
    list-style: none;
}
@media (max-width: 768px) {
    body {
        max-width: 100%;
    }
    .contener {
        max-width: 768px;

    }
    .nav-top {
        margin: 20px 30px;
    }
    .nav-1 {
        display: flex;
        gap: 53px;
    }
    .nav-bar {
        display: flex; 
        gap: 60px;
    }
    /*baner central*/
    .bar-im {
        display: flex;
        align-items: center;
    }
    .img-nutri-cent {
        width: 767px;
    }
    .tex {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 130px;
        left: 90px;
    }
    .nutri-cent-tex-h1 {
        font-size: 30px;
        color: chartreuse;
    }
    /*ptojetos*/
    .espe-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .especia {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 120px;
        gap: 60px;
    }
    .esp1 {
        border: 2px solid rgb(122, 122, 122);
        width: 200px;
        height: 200px;
        padding-top: 30px;
        padding-left: 30px;
    }
    .esp-h1 {
        font-size: 20px;
    }
    .esp-p {
        font-size: 20px;
    }
    .bi-dribbble {
        display: flex;
        padding-left: 40px;
        font-size: 30px;
        color: chartreuse;
    }
    .bi-activity {
        display: flex;
        padding-left: 50px;
        font-size: 30px;
        color: chartreuse;
    }
    .bi-briefcase-fill {
        display: flex;
        padding-left: 50px;
        font-size: 30px;
        color: chartreuse;
    }
    /*trabalho*/
.cent-tra1 {
    display: flex;
    padding-top: 200px;
    padding-left: 80px;
    gap: 50px;
    flex-direction: column;

}
    .img-tx-tra {

    }
    .texo-traba {
    padding-left: 200px;
    }
    .img-ge {
    display: flex;
    align-items: center;
    gap: 60px;
    padding-left: 90px;
    }
    .fto-aca {
    display: flex;
    padding-left: 100px;
    gap: 40px;
    }
    .img-tra-1 {
    display: flex;
    width: 100px;
    }
    
}
@media (max-width: 425px) {
    body {
        max-width: 100%;
    }
    .contener {
        max-width: 425px;

    }
    .nav-top {
        display: flex;
        margin: 50px 60px;
    }
    .nav {
        display: none;
    }
    .btn-cont {
        display: none;
    }
    /*baner central*/
    .bar-im {
        display: flex;
        align-items: center;
    }
    .img-nutri-cent {
        width: 549px;
    }
    .img-nutri-cent {
        width: 564px;
    }
    .tex {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 170px;
        left: 50px;
    }
    .nutri-cent-tex-h1 {
        font-size: 20px;
        color: chartreuse;
    }
    /*ptojetos*/
    .espe-center {
        display: flex;
        align-items: center;
        padding-left: 60px;

    }
    .especia {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 120px;
        gap: 30px;
    }
    .esp1 {
        border: 2px solid rgb(122, 122, 122);
        width: 100px;
        height: 100px;
        padding-top: 20px;
        padding-left: 10px;
    }
    .esp-h1 {
        font-size: 10px;
    }
    .esp-p {
        font-size: 10px;
    }
    .bi-dribbble {
        display: flex;
        padding-left: 20px;
        font-size: 20px;
        color: chartreuse;
    }
    .bi-activity {
        display: flex;
        padding-left: 20px;
        font-size: 20px;
        color: chartreuse;
    }
    .bi-briefcase-fill {
        display: flex;
        padding-left: 20px;
        font-size: 20px;
        color: chartreuse;
    }
}
@media (max-width: 375px) {
    body {
        max-width: 100%;
    }
    .contener {
        max-width: 375px;

    }
    .nav-top {
        display: flex;
        margin: 50px 60px;
    }
    .nav {
        display: none;
    }
    .btn-cont {
        display: none;
    }
    /*baner central*/
    .bar-im {
        display: flex;
        align-items: center;
    }
    .img-nutri-cent {
        width: 549px;
    }
    .img-nutri-cent {
        width: 564px;
    }
    .tex {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 170px;
        left: 50px;
    }
    .nutri-cent-tex-h1 {
        font-size: 20px;
        color: chartreuse;
    }

    .espe-center {
        display: flex;
        align-items: center;
        padding-left: 60px;
    }
    /*ptojetos*/
    .especia {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 120px;
        padding-left: 50px;
        gap: 30px;
    }
    .esp1 {
        border: 2px solid rgb(122, 122, 122);
        width: 100px;
        height: 100px;
        padding-top: 20px;
        padding-left: 10px;
    }
    .esp-h1 {
            font-size: 10px;
        }
    .esp-p {
            font-size: 10px;
        }
    .bi-dribbble {
            display: flex;
            padding-left: 20px;
            font-size: 20px;
            color: chartreuse;
    }
        .bi-activity {
            display: flex;
            padding-left: 20px;
            font-size: 20px;
            color: chartreuse;
    }
        .bi-briefcase-fill {
            display: flex;
            padding-left: 20px;
            font-size: 20px;
            color: chartreuse;
    }    
}
@media (max-width: 320px) {
    body {
        max-width: 100%;
    }
    .contener {
        max-width: 320px;

    }
    .nav-top {
        display: flex;
        margin: 50px 60px;
    }
    .nav {
        display: none;
    }
    .btn-cont {
        display: none;
    }
}